/* Body */
html{
    width: 100%;
    /* overflow: hidden; */
    
    
}
body{
    width: 100vh;
    background-image: url("images/2.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
  
}
.main-container{
    width: 100vw;
    height: 100vh;
}
.row {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
}

/* Heading */

.name-heading{
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 4%;

}

.name-heading h1{
    font-family: 'Sacramento', cursive;
    font-size: 10em;
    color: whitesmoke;
    text-align: right;
    float: right;
   
}

.section-links{
    text-align: right;
    margin-top: 2%;
}

.section-links a{
 font-family: 'Libre Barcode 39 Text', cursive;
 font-size: 3em;
 color: white;
 text-align: center;
 display: inline;

}

.project-cards{
    margin: 10%;
}
.card{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;

}
.card a{
    color:whitesmoke;
    
}
.icons{
    width: 10%;
}
h5{
    color: white;
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    text-align: center;
}
.rowe {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
  
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

footer {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 1.8em;
    color: white;
    margin: auto;
    text-align: center;
    


}
footer a{
    color: white;
    float:left;
    text-align: center;
    margin-left: 10%;
    text-align: center;


}
@media screen and (max-width: 600px) {
    footer a{
    float:left;
    width: 100%;
    display: block;

    }
  
  }

@media screen and (max-width: 768px)  {
    footer a{
    float:left;
    width: 75%;
    display: block;

    }
  
  }
a:hover {
    color: white;
    text-decoration: white;

  }